name: Site

on:
  workflow_dispatch:

jobs:
  buildAndPush:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:

      - name: Initialize
        run: |
          echo "/AstraFlor/Commands" >> $GITHUB_PATH
          sudo mkdir /AstraFlor
          sudo chmod 777 --preserve-root /AstraFlor
          sudo mkdir /LocalSecrets
          sudo chmod 777 --preserve-root /LocalSecrets
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH }}" > ~/.ssh/id_ed25519
          chmod --preserve-root 400 ~/.ssh/id_ed25519
          echo "${{ secrets.PAT }}" > /LocalSecrets/GitHubAccessToken
          cd /AstraFlor
          git clone git@github.com:AstraFlor/Commands
          git clone git@github.com:AstraFlor/Scripts
          IFS="/" read -r -a repo_array <<< "$GITHUB_REPOSITORY"
          echo "GitHubOrganization=${repo_array[0]}" >> $GITHUB_ENV
          echo "GitHubRepository=${repo_array[1]}" >> $GITHUB_ENV

      - name: Clone Holding
        run: |
          Clone AstraFlor

      - name: Change Docker image directory ownership
        run: sudo chown -R $USER:$USER /var/lib/docker/image

      - name: Cache Docker
        uses: actions/cache@v4
        with:
          path: |
            /var/lib/docker/image
          key: docker-layers-${{ runner.os }}-pull-image

      - name: Pull images
        run: |
          docker pull mohammadmiras/astraflorsite
          docker pull node:lts-trixie-slim

      - name: Clone repository
        run: |
          IFS="/" read -r GitHubOrganization GitHubRepository <<< "$GITHUB_REPOSITORY"
          echo "Organization: $GitHubOrganization"
          echo "Repository: $GitHubRepository"
          Clone $GitHubOrganization $GitHubRepository


      - name: Build production docker
        run: |
          cd /Portfolio/Site
          /AstraFlor/Commands/Build

      - name: Sign in to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push the image
        run: |
          docker push ghcr.io/mohammadmiras/portfolio/site:latest

      - name: Sign out from GitHub Container Registry
        run: |
          docker logout
